<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
 
<configuration>

   
    
  

  <system.web>
    
    <!--
  <membership defaultProvider="SharpMembershipProvider">
    <providers>
      <clear />
      <add name="SharpMembershipProvider"
          applicationName="Example"
          Description="My Membership Provider"
          passwordFormat="Clear" 
          type="Example.SharpMembershipProvider" />
    </providers>
  </membership>

  <roleManager enabled="true" defaultProvider="MyRoleProvider">
    <providers>
      <clear />
      <add name="SharpRoleProvider"
          applicationName="Example"
          type="Example.SharpRoleProvider"
          connectionStringName="MyMembershipConnection" />
    </providers>
  </roleManager>
  -->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
